/*=============================================
          pages/_index.scss
================================================*/
@forward 'about';
@forward 'contact';
@forward 'portfolio';
@forward 'skills';